.housesRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 33%;
  margin-bottom: 18%;
  z-index: 4;
  pointer-events: none;
}

.house {
  height: 30%;
  width: 30%;
  z-index: 4;
  box-sizing: border-box;
  pointer-events: auto;
}

.lower {
  margin-top: 60%;
}

.turnedRoadsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 22.5%;
  margin-bottom: 14.5%;
  pointer-events: none;
  z-index: 5;
}

.vertRoadsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 115%;
  margin-bottom: 15%;
  pointer-events: none;
  z-index: 5;
}

.turned {
  height: 40%;
  width: 40%;
  z-index: 5;
  box-sizing: border-box;
  pointer-events: auto;
}

.vert {
  height: 10%;
  width: 10%;
  z-index: 5;
  box-sizing: border-box;
  pointer-events: auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.selected {
  animation: pulse 2s infinite ease-in-out;
}

.update {
  border: 10px solid aqua;
  border-radius: 50%;
}