.button {
  border: none;
  color: #2c4fff;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-self: center;
}

.bigButton {
  border: none;
  color: #2c4fff;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.numberInput {
  width: 150px;
  font-size: 14px;
  color: lightslategrey;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

.numberInput:hover {
  border-color: #888;
}

.numberInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.numberInput:invalid {
  border-color: red;
  background-color: #ffe6e6;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput {
  -moz-appearance: textfield;
}
