.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 600px;
  background-color: lightsteelblue;
  transform: scale(100%);
  transform-origin: top left
}
.grid {
  position: absolute;
  top: 0;
  transform-origin: top;
  margin-top: 8.5%;
  scale: 29%;
}

.frame {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  transform-origin: top;
}

.roadsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  scale: 11.55%;
  margin-top: 9.2%;
  pointer-events: none;
  z-index: 2;
}

.housesContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  scale: 11.55%;
  margin-top: 3.5%;
  z-index: 1;
}

.numbersContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  margin-top: 12%;
  scale: 106%;
}