.container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 565px;
  width: 655px;
  background-color: gray;
  transform: scale(150%);
  transform-origin: top;
}
.grid {
  position: absolute;
  top: 0;
  transform-origin: top;
  margin-top: 10%;
  scale: 25%;
}

.frame {
  position: absolute;
  top: 0;
  scale: 8.7%;
  transform-origin: top;
  margin-top: 2.7%;
}

.roadsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  scale: 10%;
  margin-top: 10.5%;
  pointer-events: none;
  z-index: 1;
}

.housesContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  scale: 10%;
  margin-top: 5.5%;
  z-index: 1;
}

.numbersContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  transform-origin: top;
  margin-top: 13%;
}