.players-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connectionIndicator {
  height: 15px;
  width: 15px;
}

.roomHeader {
  display: flex;
  flex-direction: row;
  background-color: #2c4fff;
}

.roomName {
  font-size: 20px;
  font-family: "Alice", serif;
  font-weight: 400;
  color: aliceblue;
  padding: 10px 10px !important;
}

.room {
  background-color: dodgerblue;
  display: flex;
  padding-left: 10px;
}

.hasStarted {
  margin-bottom: 10px;
  margin-left: 5px;
  color: aliceblue;
}

.roomList {
  background-color: lightsteelblue;
  border-radius: 8px;
  list-style-type: none;
  padding-left: 0;
  width: fit-content;
}

.roomListElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: lightslategrey;
  border-radius: 8px;
  border: 3px solid lightslategrey;
  gap: 50px;
}

.roomListElementName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
