.turnedRoadsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 22.5%;
  margin-bottom: 14.5%;
}

.vertRoadsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 115%;
  margin-bottom: 15%;
}

.turned {
  height: 40%;
  width: 40%;
}

.vert {
  height: 10%;
  width: 10%;
}